* {
margin: 0;
padding: 0;
}


body {
font-family: Arial, sans-serif;
text-align: center;
margin: 0;
padding: 0;
background-color: #f4f4f9;
}

header {
background-color: #4CAF50;
color: white;
padding: 1rem 0;
}

nav {
margin: 1rem 0;
}

nav a {
text-decoration: none;
color: #4CAF50;
margin: 0 1rem;
font-weight: bold;
}

nav a:hover {
text-decoration: underline;
}

main {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}

p {
width: 100%;
}

article {
margin: 1%;
padding: 0.7%;
border: solid 1px;
border-color: #4CAF50;
border-radius: 10px;
width: 29%
}

footer {
margin-top: 2rem;
color: #888;
}
